body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: 
    #f9f9f8;
}
.Principal {
    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 10% 60% 140%;
    background-color: rgb(23, 32, 32);
    grid-template-areas: "Enca Enca"
                         "Nave Nave"
                         "Enca2 Enca2"
                         "Mapa Resul"
                         "Nose Resul";
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

@keyframes fadeOut {
    0% {
        border: 2px solid #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    100% {
        border: 1px solid #e2eded;
        box-shadow: none;
    }
}

.host-grotesk-letras {
  font-family: "Host Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

  


#G1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: relative;
    width: 97vw;;
    z-index: 1000; 
    
}

#G2 {
    grid-area: Nave;
    background-color: #F4F4F4; /* Gris Claro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
#G3 {
    grid-area: Enca2;
    background-color: #15616D; /* Azul Grisáceo */
}
#G4 {
    grid-area: Mapa;
    background-color: #EAE0D5; /* Beige Claro */
}
#G5 {
    grid-area: Resul;
    background-color: #c5e6ec; /* Azul Acero */
}
#G6 {
    grid-area: Nose;
    background-color: #F8C471; /* Dorado Suave */
}

.Barra-Busqueda {
    background-color: #ffffff;
    padding: 14px 20px;
    margin: auto;
    border-radius: 100px;
    color: #2c2c2c;
    display: flex;
    align-items: center;  
    height: 55px;
    width: 100%; 
    max-width: 1200px; 
    margin-bottom: 10VH;
}



*:focus {
    outline: none;
}

form {
    width: 300px;
    position: relative;
}

#selected-value{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}
#selected-valuePrecio{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}



#select-btn {
    background: white;
    padding: 12px 14px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #e2eded;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 5px;
    
    
}



#options-checkbox-btn:checked ~ #select-btn,
#select-btn:active {
    border: 2px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    animation: fadeOut 0.5s forwards;
}


#options-checkbox-btnPrecio:checked ~ #select-btn,
#select-btn:active {
    border: 2px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    animation: fadeOut 0.5s forwards;
    
}


#chevrons {
    margin-left: auto; /* Para que la flecha se mantenga a la derecha */
}
#chevrons i {
    
    display: block;
    height: 50%;
    color: #224a62;
    font-size: 12px;
}



#options {
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 4px;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#options1{
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 4px;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}


#options-checkbox-btn:checked ~ #options {
    display: block;
}


#options-checkbox-btnPrecio:checked ~ #options1{
    display: block;
}


.option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.option:hover {
    background: #ADD8E6;
}

.option i {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.option:hover i {
    animation: bounce 0.5s ease-in-out infinite;
}


#options-checkbox-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    ;


}

#options-checkbox-btnPrecio {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    float: right;
    padding-left: 100%;
    cursor: pointer;
    
   

  
}



#daterange {
    position: absolute;
    width: 320px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#select-btn-Fecha {
    width: 320px;
    background: white;
    padding: 12px 14px;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #e2eded;
    display: flex;
    align-items: center;
    gap: 5px;
    
}
#selected-value-Fecha{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

#daterange:focus ~ #select-btn-Fecha,
#select-btn-Fecha:active {
    border: 2px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    animation: fadeOut 0.5s forwards;
}



#Logo{
    width: 50%;
    height: 100%;
    display: block;
    margin: auto;
    
}
/*cambios de ahorita*/
.Filtros {
    display: flex;
    gap: 10px;
    
    
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 100%;
    margin-top: 10px;

    text-align: center;
    justify-content: center;
}

#PreciosFiltros{
    font-family: "Host Grotesk", serif;
    color: whitesmoke;

}

#ServiciosFiltros{
    font-family: "Host Grotesk", serif;
    color: whitesmoke;
}
#PuntuacionFiltros{
    font-family: "Host Grotesk", serif;
    color: whitesmoke;
}

#PreciosFiltrosOP{
    color:  #1E3A5F;
    
}

select {
    background-color: #f8f8f8;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    font-family: "Host Grotesk", serif;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    appearance: none; /* Ocultar la flecha del navegador por defecto */
    outline: none;
  }
  
  select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  option {
    background-color: #fff;
    color: #333;
    padding: 8px;
    font-size: 16px;
  }
  
  /* Personalización de la flecha del desplegable */
  select::after {
    content: "▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }


  #Empresa{
    font-family: "Host Grotesk", serif;
    font-size: 1.25rem;
    color: black;
    margin: 0;
    padding: 0;
  
    line-height: 1.5;
  }
  


  #G1 {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
    align-items: center; /* Alinea verticalmente los elementos */
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

#LOGOFAMILIA {
    width: auto; /* Evita que el logo se deforme */
    height: 10VH; /* Ajusta la altura del logo */
    display: block;
}

.navbar-middle {
    display: flex;
    gap: 20px;
}

.navbar-middle a {
    font-family: "Host Grotesk", serif;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 2VH;
}

.navbar-right {
    font-family: "Host Grotesk", serif;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 2VH;
}

.navbar-right a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar-middle a:hover, 
.navbar-right a:hover {
    color: #007BFF;
}


/* Filtros */
.Hoteles {
    display: flex;
    width: 90%;
    margin-top: 20px;
}

.resultados {
    width: 50%;
    padding: 10px;
}
.HotelInfo {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: 2s;
    
}

.HotelInfo:hover{
    width: 100%;
    height: 50%;
}





/*Esto de aca eh mio*/

#H1{
    display: grid;
    background-color: #71bcc8;
    grid-template-columns: 2fr 3fr 3fr; 
    height: 30vh;
    width: 90vh;
    padding: 10px;
    margin: 20px;
}

.H11{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/2c/1f/e6/e9/fiesta-inn-nuevo-laredo.jpg);
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 

    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}





#Precio{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr; 
    align-items: center;
    height: calc(90%);
    width: calc(90%);
    justify-content: center;
    border-radius: 20px;
    color: white;
    background-color: #4489be;
    cursor: pointer;
}

#Precio:hover{
    background-color: #da385b;
    transition: 0.2s;

    .descuento{
        background-color: #4489be;
        ;
    }
}

#NomHotel{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    height: 10px;
    padding: 10px;
    text-align: center;
}

.estrellas {
    font-size: 28px;
    height: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px;
}

.servicios {
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 10px;
    font-size: 20px;
}

.servicios:hover{
    color: #da385b;
    cursor: pointer;
}

.iconos {
    display: flex;
    margin-bottom: 15px;
    font-size: 50px;
    height: 10px;
    justify-content: center; 
    align-items: center; 
}

#ComentaAqui:hover{
    color: #da385b;
    cursor: pointer;
}

.iconos i {
    padding: 10px; 
}

.H12{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr; 
    color: #124a87;
    background-color: #f3ede2;

}

.precio {
    font-size: 48px;
    font-weight: bold;
    text-align: right;
    
}



.Menu{
    position: relative;
    grid-template-rows: 2fr 3fr 3fr; 
    height: 45vh;
    width: 92vh;
    background-color: #317984;
    
    margin: -20px 20px 10px 20px;
    border-radius: 20px;
}

.CerrarMenu {      /* Ajusta la distancia desde la derecha */
    background: rgb(43, 103, 128);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;  /* Posiciona el botón dentro del contenedor */
    top: 0px;           /* Ajusta la distancia desde arriba */
    right: 0px;         
}

#MenuH11{
    display: none;
}

#SServicios{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr; 
    height: 35vh;
    width: 85vh;
    background-color: #138c9f;
    margin: 10px 20px 20px 20px;
    border-radius: 20px;
}

.S1{
    background-color: #9edee8;
    margin: 10px;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 2fr 2fr;
}

#S11:hover{
    margin: 0px;
    transition: 0.5s;
    font-size: 20px;
    background-color: #EE4266;
    
    #TGimnasio{
        color:  #e2cbd0;
    }
}

#TituloS{
    text-align: center;
    padding: 0px;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    margin: 10px 10px 0px 10px;
    color: rgb(255, 255, 255);
}

#FGimnasio{
    background-image: url(https://hotelesdesconecta2.com/wp-content/uploads/2023/08/hotel-con-gimnasio-1024x538.jpg);
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

#TGimnasio{
    text-align: center;
    padding: 0px;
    font-style: italic;
    color: rgb(11, 7, 87);
}

#FPisicina{
    background-image: url(https://images.trvl-media.com/lodging/2000000/1620000/1619300/1619210/04574ba1.jpg?impolicy=fcrop&w=357&h=201&p=1&q=medium);
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#FAreaInfantil{
    background-image: url(https://children-friendly.com/blog_assets/uploads/02-2016/1920/parque-de-bolas-hotel-andorra_N4Wm1.jpg);
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Opiniones */
#Opiniones{
    display: grid;
    grid-template-rows: 1fr 7fr; 
    height: 55vh;
    width: 85vh;
    background-color: #579faa;
    margin: 10px 20px 20px 20px;
    border-radius: 20px;
}

#Barrita{
    display: grid;
    grid-template-columns: 14fr 2fr; 
    height: 5vh;
    width: 80vh;
    background-color: #138c9f;
    margin: 10px 20px 20px 20px;
    border-radius: 20px;
}

#txtOpiniones{
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#textbox1{
    width: 100%;
        height: 100%; 
        border: none;
        background-color: transparent; 
        outline: none; 
        font-size: 16px; 
        color: #333;
        font-family: Arial, sans-serif; 
        padding: 0 10px; 
}

#BOpinion{
    width: 100%; /* El botón ocupa todo el contenedor */
        height: 100%; /* El botón ocupa toda la altura */
        border: none; /* Elimina el borde del botón */
        background-color: transparent; /* Fondo transparente para el botón */
        color: white; /* Color del texto del botón */
        font-size: 16px; /* Tamaño del texto */
        font-family: Arial, sans-serif; /* Fuente del texto */
        cursor: pointer; /* Muestra el cursor de "mano" */
        outline: none; /* Elimina el borde de enfoque del botón */

}

.Comentarios{
    background-color: #2a7b88;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#MenuH12{
    height: 70vh;
    background-color: #1d646f;
    display: none;
    grid-template-rows: 2fr 15fr; 
}

#C1{
    display: grid;
    height: 20vh;
    grid-template-columns: 4fr 14fr; 
    background-color: #94d5df;
    border-radius: 20px;
    margin: 10px;
}

#Foto{
    
    
    border-radius: 90px;
    margin: 10px;
}

#C1 #Foto{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLJ8nx8-2Zg_NakD54Ty1BevSzF9Pq3Xxe7w&s);
    
}



#O1{
    display: grid;
    grid-template-rows: 2fr 3fr 4fr; 
    height: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #399fae;
}

#NomCliente{
    font-style: italic;
    color: #ffffff;
    font-size: 30px;
    height: 10px;
    margin: 10px;
}

.estrellasC{
    color: #0b2659;
    font-size: 30px;
    height: 10px;
    padding: 10px;
}

#OT{
    font-style: italic;
    color: #1f0ea4;
    font-size: 20px;
    height: 5vh;
    padding: 5px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

/* Cobroooooooooo, esta hecho con gpt asi que es un desmadre de IDs, pero jala */

#Precios{
    display: grid;
    grid-template-columns: 3fr 3fr; 
    border-radius: 20px;
    margin: 50px 10px 10px 10px;
    height: 30vh;
}


#MenuH13{
    height: 90vh;
    display: none;
}

#DatosC{

    width: 90%;
    margin: auto;
    padding: 30px;
    background-color: #399fae;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-style: italic;
    color: #ffffff;
    font-size: 20px;

    h2 {
        text-align: center;
        color: #333;
        
    }

    label {
        font-weight: bold;
        margin: 5px;
    }

    input, select {
        width: 90%;
        padding: 10px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    #EstYCP{
        display: grid;
        grid-template-columns: 3fr 3fr; 
        margin: 10px;

        input, select {
            width: 60%;
            padding: 10px;
            margin: 10px;
    
        }
    }

}



#Pago{
    display: grid;
    grid-template-rows: 3fr 3fr; 
    background-color: #595fc9;
}

#ImagenH{
    background-image: url(https://content.r9cdn.net/rimg/himg/80/dd/b8/ostrovok-645649-696520-859823.jpg);
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    border-top-right-radius: 20px;

    h2{
        text-align: center;
        color: #333;
    }
}

#Efectivo{

    width: 90%;
    padding: 20px;
    background-color: #124f58;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-style: italic;
    color: #ffffff;
    font-size: 20px;
    border-bottom-right-radius: 20px ;

    label {
        font-weight: bold;
        margin: 5px;
    }

    input, select {
        width: 90%;
        padding: 10px;
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .boton{
        background-color: #399fae; 
            color: white; 
            border: none; 
            padding: 12px 24px; 
            font-size: 26px; 
            font-weight: bold;
            border-radius: 25px; 
            cursor: pointer; 
            transition: background 0.3s ease; 
    }

    .boton:hover {
        background-color: #1d3336; /* Cambio de color al pasar el cursor */
    }
}

#Btn {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-top: 25px;
}

/* Aqui acaba el desmadre de cobrooooooooooooooooo */



/* Fila 2: Precio mensual */
.mensualidad {
    font-size: 16px;
    font-style: italic;
    text-align: right;
    color: #ffffff;
    height: 10px;

}

/* Fila 3: Beneficios */
.beneficios ul {
    padding: 10px;
    margin-top: 10px;
    height: 10px;

}

.beneficios li {
    margin-bottom: 5px;
    height: 10px;
}

/* Fila 4: Descuento */
.descuento {
    background-color: #d30068;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 5px;
    height: 10px;

}

.H13{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3ede2;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}

.button {
    background-color: #0078D4; /* Azul */
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
    cursor: pointer;
    font-size: 16px;
    

    
    margin-left: 5vw;
}

.button:hover {
    background-color: #005ea2; /* Azul más oscuro al pasar el mouse */
}

#map {
    top: 60vh;
  left: 0px;
  width: 50vw;
  height: 120vh;
  position: absolute;
 
   
}

