body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: 
    #f9f9f8;
}
.Principal {
    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 40% 10% 60% 60%;
    background-color: rgb(23, 32, 32);
    grid-template-areas: "Enca Enca"
                         "Nave Nave"
                         "Enca2 Enca2"
                         "Mapa Resul"
                         "Nose Resul";
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

@keyframes fadeOut {
    0% {
        border: 2px solid #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    100% {
        border: 1px solid #e2eded;
        box-shadow: none;
    }
}

.host-grotesk-letras {
  font-family: "Host Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

  


#G1 {
    grid-area: Enca;
    background-color: #1E3A5F; /* Azul Marino */
}
#G2 {
    grid-area: Nave;
    background-color: #F4F4F4; /* Gris Claro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#G3 {
    grid-area: Enca2;
    background-color: #3A506B; /* Azul Grisáceo */
}
#G4 {
    grid-area: Mapa;
    background-color: #EAE0D5; /* Beige Claro */
}
#G5 {
    grid-area: Resul;
    background-color: #2E5984; /* Azul Acero */
}
#G6 {
    grid-area: Nose;
    background-color: #F8C471; /* Dorado Suave */
}

.Barra-Busqueda {
    background-color: #ffffff;
    padding: 14px 20px;
    margin: auto;
    border-radius: 100px;
    color: #2c2c2c;
    display: flex;
    align-items: center;  
    height: 55px;
    width: 100%; 
    max-width: 1200px; 
}



*:focus {
    outline: none;
}

form {
    width: 300px;
    position: relative;
}

#selected-value{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}
#selected-valuePrecio{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}



#select-btn {
    background: white;
    padding: 12px 14px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #e2eded;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 5px;
    
    
}



#options-checkbox-btn:checked ~ #select-btn,
#select-btn:active {
    border: 2px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    animation: fadeOut 0.5s forwards;
}


#options-checkbox-btnPrecio:checked ~ #select-btn,
#select-btn:active {
    border: 2px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    animation: fadeOut 0.5s forwards;
    
}


#chevrons {
    margin-left: auto; /* Para que la flecha se mantenga a la derecha */
}
#chevrons i {
    
    display: block;
    height: 50%;
    color: #224a62;
    font-size: 12px;
}



#options {
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 4px;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#options1{
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 4px;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}


#options-checkbox-btn:checked ~ #options {
    display: block;
}


#options-checkbox-btnPrecio:checked ~ #options1{
    display: block;
}


.option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.option:hover {
    background: #ADD8E6;
}

.option i {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.option:hover i {
    animation: bounce 0.5s ease-in-out infinite;
}


#options-checkbox-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    ;


}

#options-checkbox-btnPrecio {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    float: right;
    padding-left: 100%;
    cursor: pointer;
    
   

  
}



#daterange {
    position: absolute;
    width: 320px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#select-btn-Fecha {
    width: 320px;
    background: white;
    padding: 12px 14px;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #e2eded;
    display: flex;
    align-items: center;
    gap: 5px;
    
}
#selected-value-Fecha{
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
}

#daterange:focus ~ #select-btn-Fecha,
#select-btn-Fecha:active {
    border: 2px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    animation: fadeOut 0.5s forwards;
}



#Logo{
    width: 30%;
    height: 50%;
    display: block;
    margin: auto;
    
}

.Filtros {
    display: flex;
    gap: 10px;
    background-color: #4a7023;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 90%;
    margin-top: 10px;
}
.Hoteles {
    display: flex;
    width: 90%;
    margin-top: 20px;
}
.Mapa {
    width: 50%;
    height: 400px;
    background-color: #ccc;
}
.resultados {
    width: 50%;
    padding: 10px;
}
.HotelInfo {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: 2s;
}

.HotelInfo:hover{
    width: 100%;
    height: 50%;
}

#map {
    height: 500px; 
    width: calc(100%);
}

/*Esto de aca eh mio*/

#H1{
    display: grid;
    grid-template-columns: 2fr 3fr 3fr; 
    height: 30vh;
    width: 98vh;
    background-color: #233a70;
    padding: 10px;
}

.H11{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/2c/1f/e6/e9/fiesta-inn-nuevo-laredo.jpg);
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 


    border-top-left-radius:20px;
    border-bottom-left-radius:20px
}




#Precio{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr; 
    align-items: center;
    height: calc(90%);
    width: calc(90%);
    justify-content: center;
    border-radius: 20px;
    background-color: #7cd8e8;
    
}

#NomHotel{
    font-style: italic;
    font-weight: bold;
    color: #2d4b2c;
    font-size: 20px;
    height: 10px;
    padding: 5px;
}

.estrellas {
    color: #2d4b2c;
    font-size: 18px;
    height: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px 10px;
}

.servicios {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
    height: 10px;
    
}

.iconos {
    display: flex;
    margin-top: 15px;
    font-size: 24px;
    color: #2d4b2c;
    height: 10px;
    justify-content: center; 
    align-items: center; 
}

.iconos i {
    padding: 10px; 
}

.H12{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr; 
    
    background-color: #e8b87c;

}

.precio {
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    
}

/* Fila 2: Precio mensual */
.mensualidad {
    font-size: 16px;
    font-style: italic;
    text-align: right;
    color: #2d4b2c;
    height: 10px;

}

/* Fila 3: Beneficios */
.beneficios ul {
    padding: 10px;
    margin-top: 10px;
    height: 10px;

}

.beneficios li {
    margin-bottom: 5px;
    height: 10px;
}

/* Fila 4: Descuento */
.descuento {
    background-color: #d30068;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 5px;
    height: 10px;

}

.H13{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8b87c;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}

.button {
    background-color: #0078D4; /* Azul */
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
    cursor: pointer;
    font-size: 16px;
    ;

    
    margin-left: 5vw;
}

.button:hover {
    background-color: #005ea2; /* Azul más oscuro al pasar el mouse */
}

#map {
    top: 60vh;
  left: 0px;
  width: 50vw;
  height: 61vh;
  position: absolute;
 
   
}

